.secao1{
    display: flex;
    height: 75vh;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 6px;
    align-items: center;
}

.secao1-1{
    display: flex;
    flex-wrap: wrap;
    align-content: baseline;
    width: calc(35% - 20px);
    margin: 5px;
    padding: 5px;
    /*border: solid 1px rgba(0,0,0,0.3);*/
    border-radius: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(75vh - 20px);
    /*background-color: white;*/
    scrollbar-width: 4px;          /* "auto" or "thin" */
    scrollbar-color: rgba(0,0,0,0.3) rgba(0,0,0,0.05);
}
.secao1-1::-webkit-scrollbar{
    width: 4px;
}
.secao1-1::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.05);
}
.secao1-1::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);
}
.secao1-2{
    display: flex;
    width: calc(65% - 20px);
    padding: 10px;
}

.secao1-div-1-codigo{
    display: flex;
    width: 100%;
    padding: 6px 10px;
    background-color: black;
    border-radius: 2px;
    margin-top: 10px;
    justify-content: space-between;
}
.secao1-div-1-codigo:first-child{
    margin-top: 0px;
}
.secao1-div-1-codigo p{
    margin: 0px;
    color: white;
}
.secao1-div-1-codigo .minimizar{
    color: white;
    font-size: 16px;
    cursor: pointer;
}

#text-var-html{
    height: 26vh; 
    width: 100%;
    resize: none; 
    border: solid 1px black;
    border-radius: 4px; 
    color:black;
    resize: vertical;
}
#text-var-css{
    height: 26vh; 
    width: 100%;
    resize: none; 
    border: solid 1px black;
    border-radius: 4px; 
    color:black;
    resize: vertical;
}
#text-var-js{
    height: 26vh; 
    width: 100%;
    resize: none; 
    border: solid 1px black;
    border-radius: 4px; 
    color:black;
    resize: vertical;
}
#text-preview{
    width: 100%;
    max-width: 100vw !important;
    height: calc(75vh - 20px);
    max-height: 100vh !important;
    border: solid 1px rgba(0,0,0,0.3);
    border-radius: 4px;
    overflow-y: scroll;
    background-color: #F2F2F2; 
}
#aumentartelapreview{
    margin-left: -20px;
    width: 20px;
    height: 20px;
    z-index: 6;
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
}

/*mobile*/
@media (max-width: 768px) {
    .secao1 {
        flex-wrap: wrap;
    }
    .secao1-1{
        height: 37vh;
        width: 100%;
    }
    .secao1-2{
        height: 37vh;
        width: 100%;
    }
    #text-preview{
        height: calc(38vh - 40px);
    }
}